@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.blu {
    background-color: #4971FF;
}

#fascia-superiore {
    height: 36px;
    padding: 5px;
    padding-right: 200px;
}

#fascia-superiore a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    top: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 5px;
}

#logo {
    height: 75px;
    width: 175px;
    padding-left: 200px;
}

#fascia-navigazione {
    background-color: rgb(105, 22, 22);
    height: 91px;
    padding-right: 200px;
    top: 35px;
}

#fascia-navigazione a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #4971FF;
    padding: 10px;
    line-height: 91px;
}